[Unit]
Description=Gunicorn daemon for %i
Requires=gunicorn@%i.socket
After=network.target

[Service]
Type=notify
User=%i
Group=%i
Environment=INSTANCE_NAME=%i
WorkingDirectory=/opt/%i-venv/%i
ExecStart=/opt/%i-venv/bin/gunicorn --config /opt/%i-venv/etc/gunicorn.conf.py %i.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
