[Unit]
Description=Gunicorn socket for %i

[Socket]
ListenStream=/opt/%i-venv/run/gunicorn.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0600

[Install]
WantedBy=sockets.target
