[Unit]
Description=Gunicorn socket for ${INSTANCE_NAME}

[Socket]
ListenStream=/opt/${INSTANCE_NAME}-venv/run/gunicorn.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0600

[Install]
WantedBy=sockets.target
